body {
	font-family: "Courier New", Courier, monospace;
	font-size: 29px;
	text-align: center;
}

#headLine {
	background-image: url(image/menu-bg1.gif);
	height: 33px;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}

A {
	text-decoration: none;
	font-size: 20px;
	padding-right: 15px;
	padding-left: 0px;
}

A:hover {
	cursor: pointer;
	color: #FF0000;
}

th {
	padding-right: 15px;
	padding-left: 15px;
}

.classType1 {
	background-color: #ffc;
}

.classType2 {
	
}